html, body {
	overflow-x: hidden;
}

.navbar {
	background-image: url("../images/black-wood.jpg");
	width: 100%;
	position: fixed;
	z-index: 5;
}

.nav-item {
	box-shadow: 0 5px 5px rgba(82, 82, 82, 0.4);
}

.jumbotron-fluid {
	background-color: transparent;
	height: 100vh;
	color: white;
	text-shadow: 5px 5px 8px rgba(0,0,0,0.8);
}

.jumbotron-fluid img{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -5;
}

.about-me {
	background: url("../images/black-wood.jpg"), no-repeat;
	background-size: cover;
}
.about-text{
	border-right: none;
	border-bottom: white 1px solid;
	padding-bottom: 5px;
}

@media (min-width: 768px) {
	.about-text {
		border-bottom: none;
		border-right: white 1px solid;
	}
}

.list-group-item {
	text-align: center;
	background-color: #1b1c1b;
	color: white;
	border: none;
}

.portfolio-section {
	background: url("../images/coffee-beans.jpg"), no-repeat, center;
	background-size: cover;
	color: white;
	text-shadow: 5px 5px 8px rgba(0,0,0,0.8);
	height: 100%;
}

.card {
	background: url("../images/black-wood.jpg"), no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
}

.taco-bear p, .taco-bear h5 {
	background-color: rgba(255,255,255, 0.8);
	color: black;
	text-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
}

#jcModal .modal-content, #tacoBearModal .modal-content {
	background: url("../images/brown-wood.jpg");
}

#jcModal a, #tacoBearModal a {
	color: #4b4746;
	text-decoration: none;
}
.carousel-item button {
	text-shadow: 5px 1px 5px rgba(0,0,0,0.4);
	box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: rgba(0, 0, 0, 0.6);
}

.contact-section {
	background: url("../images/black-wood.jpg"), no-repeat;
	background-size: cover;
	color: white;
}

.footer-link i {
	font-size: 1rem;
	color: white;
	padding: 0 10px;
}

@media (min-width: 768px) {
	.footer-link i {
		font-size: 2rem;
	}
}
.footer {
	color: white;
	text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}



